<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [(opened)]="opened" class="sidenav">
    <mat-nav-list>
      <div *ngFor="let link of navLinks">
        @if(validatePermisions(link)){
          <a 
            mat-list-item
            (click)="onNavItemClick(sidenav, link.path)"
          >
            {{ link.label }}
          </a>
        }
      </div>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="logOut()" aria-label="Cerrar sesión">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>