<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [(opened)]="opened" class="sidenav">
    <div class="logo-container">
      <img src="assets/logo.png" alt="App Logo" class="logo-image">
    </div>
    <mat-nav-list>
      <ng-container *ngFor="let link of navLinks">
        <ng-container *ngIf="authService.validatePermisions(link)">
          <a
            mat-list-item
            [routerLink]="link.path"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()"
          >
            <mat-icon>{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="nav-buttons">
        <button 
        mat-icon-button 
        (click)="sidenav.toggle()" 
        
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Servi APP</span>
      <span class="spacer"></span>
      <span *ngIf="user" class="user-name">{{ user.name }}</span>
      <button 
        mat-icon-button 
        (click)="logOut()" 
        aria-label="Cerrar sesión"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
      </div>
   
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
