<ul class="order-list">
  @for (order of orders; track order) {
    <li class="order-item">
      <mat-card class="order-card">
        <mat-card-header>
          <mat-card-title>Restaurante: {{ order.createdByUserName }}</mat-card-title>
          <mat-card-subtitle>Estado: {{ getStatusLabel(order.status) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Cliente:</strong> {{ order.customerName }}</p>
          <p><strong>Dirección:</strong> {{ order.shippingAddress }}</p>
          <p><strong>Total:</strong> 
            <span *ngIf="user && user.typeUser == '3'">{{ (order.totalAmount || 0) - 1000 | currency }}</span>
            <span *ngIf="!user || user.typeUser != '3'">{{ order.totalAmount | currency }}</span>
          </p>
          <p><strong>Domiciliario:</strong> {{ userCurrent.name }} </p>
        </mat-card-content>

        <!-- Mostrar el botón solo si el estado es 2 (En camino) -->
        <button *ngIf="order.status === 2" mat-button color="primary" (click)="completeOrder(order)">
          Finalizar Pedido
        </button>

      </mat-card>
    </li>
  }
</ul>
