<ul class="order-list">
  @for (order of orders; track order) {
    <li class="order-item">
      <mat-card class="order-card">
        <mat-card-header>
          <mat-card-title>{{ order.customerName }}</mat-card-title>
          <mat-card-subtitle>Estado: {{ getStatusLabel(order.status) }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Dirección:</strong> {{ order.shippingAddress }}</p>
          <p><strong>Total:</strong> ${{ order.totalAmount }}</p>
          <p><strong>Entregador:</strong> {{ userCurrent.name }} </p>
        </mat-card-content>

        <!-- Mostrar el botón solo si el estado es 2 (En camino) -->
        <button *ngIf="order.status === 2" mat-button color="primary" (click)="completeOrder(order)">
          Finalizar Pedido
        </button>

      </mat-card>
    </li>
  }
</ul>
